<div id="<%= dom_id product %>" class='product'>
  <%= link_to product, class: 'title' do %>
    <strong><%= product.title %></strong>
  <% end %>

  <p><%=h product.description %></p>

  <ul>
    <li class='category'>
      <%= t("product.category.#{product.category}") %>
    </li>
    <li class='price'>
      <% if product.discounted %>
        <mark><%= number_to_currency product.price %> 💥</mark>
      <% else %>
        <%= number_to_currency product.price %>
      <% end %>
    </li>
  </ul>
</div>
